<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Document</title>
  <meta name="description" content="">

  <meta property="og:title" content=""><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="website"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content=""><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content=""><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content=""><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/index/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page">

    <%- include('/header') %>

    <main class="l-main">
      <div class="loading-anime">
        <div class="container">

          <!-- <?xml version="1.0" encoding="utf-8"?> -->
          <svg id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 190.793 27.035" style="enable-background:new 0 0 190.793 27.035;" xml:space="preserve">
          <g id="text-full">
            <g id="text-1">
              <path class="st0" d="M31.289,8.033c-0.727,1.629-1.512,3.231-2.355,4.808s-1.726,3.067-2.646,4.474s-1.86,2.704-2.821,3.894
                s-1.913,2.215-2.856,3.076s-1.863,1.535-2.76,2.021s-1.743,0.729-2.54,0.729c-0.328,0-0.633-0.059-0.914-0.176
                s-0.527-0.278-0.738-0.483s-0.375-0.448-0.492-0.729s-0.176-0.586-0.176-0.914v-8.525L3.92,26.35
                c-0.234,0.234-0.489,0.407-0.765,0.519s-0.56,0.167-0.853,0.167c-0.316,0-0.612-0.059-0.888-0.176s-0.519-0.278-0.729-0.483
                s-0.378-0.448-0.501-0.729S0,25.061,0,24.732V8.033h4.57v10.828l9.105-10.178c0.328-0.328,0.718-0.536,1.169-0.624
                s0.894-0.038,1.327,0.149c0.434,0.176,0.776,0.454,1.028,0.835s0.378,0.8,0.378,1.257v10.863c0.984-0.949,1.875-1.951,2.672-3.006
                s1.538-2.142,2.224-3.261s1.33-2.256,1.934-3.41s1.192-2.306,1.767-3.454H31.289z"/>
            </g>
            <g id="text-2">
              <path class="st0" d="M53.314,14.326c0,0.633-0.111,1.315-0.334,2.048s-0.583,1.412-1.081,2.039s-1.148,1.151-1.951,1.573
                s-1.778,0.633-2.927,0.633h-8.244v-4.342h8.244c0.621,0,1.102-0.19,1.441-0.571s0.51-0.853,0.51-1.415
                c0-0.598-0.19-1.066-0.571-1.406s-0.841-0.51-1.38-0.51h-8.244c-0.621,0-1.102,0.19-1.441,0.571s-0.51,0.853-0.51,1.415v6.381
                c0,0.609,0.19,1.084,0.571,1.424s0.853,0.51,1.415,0.51h8.209v4.359h-8.244c-0.633,0-1.315-0.111-2.048-0.334
                s-1.412-0.583-2.039-1.081s-1.151-1.148-1.573-1.951s-0.633-1.778-0.633-2.927v-6.416c0-0.633,0.111-1.315,0.334-2.048
                s0.583-1.412,1.081-2.039s1.148-1.151,1.951-1.573s1.778-0.633,2.927-0.633h8.244c0.633,0,1.315,0.111,2.048,0.334
                s1.412,0.583,2.039,1.081s1.151,1.148,1.573,1.951S53.314,13.178,53.314,14.326z"/>
            </g>
            <g id="text-3">
              <path class="st0" d="M77.344,20.619c0,0.434-0.05,0.891-0.149,1.371s-0.255,0.958-0.466,1.433s-0.483,0.929-0.817,1.362
                s-0.738,0.817-1.213,1.151s-1.022,0.601-1.644,0.8s-1.324,0.299-2.109,0.299h-8.244c-0.434,0-0.891-0.05-1.371-0.149
                s-0.958-0.255-1.433-0.466s-0.929-0.483-1.362-0.817s-0.817-0.738-1.151-1.213s-0.601-1.025-0.8-1.652s-0.299-1.333-0.299-2.118V0
                h4.57v20.619c0,0.562,0.176,1.011,0.527,1.345s0.791,0.501,1.318,0.501h8.244c0.574,0,1.022-0.17,1.345-0.51
                s0.483-0.785,0.483-1.336v-6.188c0-0.574-0.17-1.022-0.51-1.345s-0.779-0.483-1.318-0.483h-8.244v-4.57h8.244
                c0.434,0,0.891,0.05,1.371,0.149s0.958,0.255,1.433,0.466s0.929,0.483,1.362,0.817s0.814,0.738,1.143,1.213
                s0.592,1.022,0.791,1.644s0.299,1.324,0.299,2.109V20.619z"/>
            </g>
            <g id="text-4">
              <path class="st0" d="M101.918,20.619c0,0.785-0.1,1.491-0.299,2.118s-0.463,1.178-0.791,1.652s-0.709,0.879-1.143,1.213
                s-0.888,0.606-1.362,0.817s-0.955,0.366-1.441,0.466s-0.946,0.149-1.38,0.149h-8.244c-0.633,0-1.324-0.111-2.074-0.334
                s-1.444-0.589-2.083-1.099s-1.172-1.172-1.6-1.986s-0.642-1.813-0.642-2.997v-6.188c0-1.172,0.214-2.165,0.642-2.979
                s0.961-1.477,1.6-1.986s1.333-0.876,2.083-1.099s1.441-0.334,2.074-0.334h8.244c1.172,0,2.168,0.211,2.988,0.633
                s1.482,0.952,1.986,1.591s0.87,1.333,1.099,2.083s0.343,1.447,0.343,2.092V20.619z M97.348,14.467
                c0-0.633-0.158-1.102-0.475-1.406s-0.773-0.457-1.371-0.457h-8.209c-0.609,0-1.072,0.155-1.389,0.466s-0.475,0.765-0.475,1.362
                v6.188c0,0.598,0.158,1.055,0.475,1.371s0.779,0.475,1.389,0.475h8.209c0.621,0,1.084-0.158,1.389-0.475s0.457-0.773,0.457-1.371
                V14.467z"/>
            </g>
            <g id="text-5">
              <path class="st0" d="M122.432,12.604h-10.283c-0.621,0-1.09,0.155-1.406,0.466s-0.475,0.765-0.475,1.362v12.604h-4.57V14.432
                c0-0.785,0.1-1.488,0.299-2.109s0.466-1.169,0.8-1.644s0.718-0.879,1.151-1.213s0.888-0.606,1.362-0.817s0.955-0.366,1.441-0.466
                s0.94-0.149,1.362-0.149h10.318V12.604z"/>
            </g>
            <g id="text-6">
              <path class="st0" d="M146.285,20.619c0,0.785-0.1,1.491-0.299,2.118s-0.463,1.178-0.791,1.652s-0.709,0.879-1.143,1.213
                s-0.888,0.606-1.362,0.817s-0.955,0.366-1.441,0.466s-0.946,0.149-1.38,0.149h-8.244c-0.785,0-1.488-0.1-2.109-0.299
                s-1.169-0.466-1.644-0.8s-0.879-0.718-1.213-1.151s-0.606-0.888-0.817-1.362s-0.366-0.955-0.466-1.441s-0.149-0.94-0.149-1.362
                v-6.188c0-1.172,0.214-2.165,0.642-2.979s0.961-1.477,1.6-1.986s1.333-0.876,2.083-1.099s1.441-0.334,2.074-0.334h8.244v4.57
                h-8.209c-0.609,0-1.072,0.155-1.389,0.466s-0.475,0.765-0.475,1.362v6.152c0,0.621,0.155,1.09,0.466,1.406
                s0.765,0.475,1.362,0.475h8.244c0.621,0,1.084-0.158,1.389-0.475s0.457-0.773,0.457-1.371V0h4.57V20.619z"/>
            </g>
            <g id="text-7">
              <path class="st0" d="M171.088,14.326c0,0.633-0.111,1.315-0.334,2.048s-0.583,1.412-1.081,2.039s-1.148,1.151-1.951,1.573
                s-1.778,0.633-2.927,0.633h-8.244v-4.342h8.244c0.621,0,1.102-0.19,1.441-0.571s0.51-0.853,0.51-1.415
                c0-0.598-0.19-1.066-0.571-1.406s-0.841-0.51-1.38-0.51h-8.244c-0.621,0-1.102,0.19-1.441,0.571s-0.51,0.853-0.51,1.415v6.381
                c0,0.609,0.19,1.084,0.571,1.424s0.853,0.51,1.415,0.51h8.209v4.359h-8.244c-0.633,0-1.315-0.111-2.048-0.334
                s-1.412-0.583-2.039-1.081s-1.151-1.148-1.573-1.951s-0.633-1.778-0.633-2.927v-6.416c0-0.633,0.111-1.315,0.334-2.048
                s0.583-1.412,1.081-2.039s1.148-1.151,1.951-1.573s1.778-0.633,2.927-0.633h8.244c0.633,0,1.315,0.111,2.048,0.334
                s1.412,0.583,2.039,1.081s1.151,1.148,1.573,1.951S171.088,13.178,171.088,14.326z"/>
            </g>
            <g id="text-8">
              <path class="st0" d="M190.793,12.604H180.51c-0.621,0-1.09,0.155-1.406,0.466s-0.475,0.765-0.475,1.362v12.604h-4.57V14.432
                c0-0.785,0.1-1.488,0.299-2.109s0.466-1.169,0.8-1.644s0.718-0.879,1.151-1.213s0.888-0.606,1.362-0.817s0.955-0.366,1.441-0.466
                s0.94-0.149,1.362-0.149h10.318V12.604z"/>
            </g>
          </g>
          </svg>
          <!-- </div> -->
        </div>
      </div>

      <section class="sec-question">
        <ol id="question" class="question question--01">
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_1.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q1-y" class="btn" name="q1" type="radio" value="1"><label class="label" for="q1-y">YES</label>
              <input id="q1-n" class="btn" name="q1" type="radio" value="0"><label class="label" for="q1-n">NO</label>
            </div>
          </li>
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_2.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q2-y" class="btn" name="q2" type="radio" value="1"><label class="label" for="q2-y">YES</label>
              <input id="q2-n" class="btn" name="q2" type="radio" value="0"><label class="label" for="q2-n">NO</label>
            </div>
          </li>
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_3.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q3-y" class="btn" name="q3" type="radio" value="1"><label class="label" for="q3-y">YES</label>
              <input id="q3-n" class="btn" name="q3" type="radio" value="0"><label class="label" for="q3-n">NO</label>
            </div>
          </li>
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_4.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q4-y" class="btn" name="q4" type="radio" value="1"><label class="label" for="q4-y">YES</label>
              <input id="q4-n" class="btn" name="q4" type="radio" value="0"><label class="label" for="q4-n">NO</label>
            </div>
          </li>
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q5-y" class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y">YES</label>
              <input id="q5-n" class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n">NO</label>
            </div>
          </li>
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_6.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q6-y" class="btn" name="q6" type="radio" value="1"><label class="label" for="q6-y">YES</label>
              <input id="q6-n" class="btn" name="q6" type="radio" value="0"><label class="label" for="q6-n">NO</label>
            </div>
          </li>

          <p id="error" class="error">※選択されていない項目があります。</p>

          <div id="next-btn" class="next-btn">次へ</div>
        </ol>




        <ol id="question" class="question question--02">
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_1.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q7-y" class="btn" name="q7" type="radio" value="1"><label class="label" for="q7-y">YES</label>
              <input id="q7-n" class="btn" name="q7" type="radio" value="0"><label class="label" for="q7-n">NO</label>
            </div>
          </li>
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_2.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q8-y" class="btn" name="q8" type="radio" value="1"><label class="label" for="q8-y">YES</label>
              <input id="q8-n" class="btn" name="q8" type="radio" value="0"><label class="label" for="q8-n">NO</label>
            </div>
          </li>
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_3.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q9-y" class="btn" name="q9" type="radio" value="1"><label class="label" for="q9-y">YES</label>
              <input id="q9-n" class="btn" name="q9" type="radio" value="0"><label class="label" for="q9-n">NO</label>
            </div>
          </li>
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_4.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q10-y" class="btn" name="q10" type="radio" value="1"><label class="label" for="q10-y">YES</label>
              <input id="q10-n" class="btn" name="q10" type="radio" value="0"><label class="label" for="q10-n">NO</label>
            </div>
          </li>
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q11-y" class="btn" name="q11" type="radio" value="1"><label class="label" for="q11-y">YES</label>
              <input id="q11-n" class="btn" name="q11" type="radio" value="0"><label class="label" for="q11-n">NO</label>
            </div>
          </li>
          <li class="question__item">
            <div class="query">
              <span><img src="/assets/images/pages/index/question_icon_num_6.svg" alt=""></span>
              <p>～？</p>
            </div>
            <div class="answer">
              <input id="q12-y" class="btn" name="q12" type="radio" value="1"><label class="label" for="q12-y">YES</label>
              <input id="q12-n" class="btn" name="q12" type="radio" value="0"><label class="label" for="q12-n">NO</label>
            </div>
          </li>

          <p id="error" class="error">※選択されていない項目があります。</p>

          <!-- <div class="check-btn">
            <button type="button" id="resultBtn">結果を見る</button>
            <button type="button" id="backBtn" class="hide">戻る</button>
          </div> -->

          <div class="check-btn">
            <button type="button">
              <a id="resultBtn" href="#">結果を見る</a>
            </button>
          </div>
        </ol>
      </section>

      <!-- <section id="result">
        <h2 id="type_title"></h2>
        <p id="type_desc"></p>
      </section> -->

      <section id="result">
        <!-- <h2 id="type_title"></h2>
        <p id="type_desc"></p> -->
      </section>

    </main><!-- .l-main -->

    <%- include('/footer') %>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/index.js" defer></script>

</body>

</html>
