body {
  // transition: ease-in-out 1.4s;
  // -webkit-transition: ease-in-out 1.4s;
  // -moz-transition: ease-in-out 1.4s;
  // -ms-transition: ease-in-out 1.4s;
  // -o-transition: ease-in-out 1.4s;
}

.sec-loading {
  // background:rgba(64,73,81,0.9);
  // height: 100vh;
  // align-items: center;
  // display: flex;

  &__bg {
    &--01 {
      position: relative;
      z-index: 10;
      height: 100vh;
      background: rgba(64, 73, 81, 0.9);
      opacity: 1;

      &.end {
        opacity: 0;
        // display: none;
        //visibility: hidden;
        -webkit-transition: ease-in-out 0.5s;
        -moz-transition: ease-in-out 0.5s;
        -ms-transition: ease-in-out 0.5s;
        -o-transition: ease-in-out 0.5s;
        transition: ease-in-out 0.5s;
        //background: none;
        -webkit-transform: translate(400px);
        -moz-transform: translate(400px);
        -ms-transform: translate(400px);
        -o-transform: translate(400px);
        transform: translate(400px);
      }

      &.none {
        display: none;
      }
    }

    &--02 {
      position: relative;
      z-index: 11;
      height: 100vh;
      background: red;

      &.end {
        display: none;
        visibility: hidden;
        background: none;
        opacity: 0;
        transition: ease-in-out 0.3s;
      }
    }
  }

  // &__img {
  //     text-align: center;

  //     img {
  //         width: 100%;
  //         height: auto;
  //     }
  // }
}
